@page "/add-inventory"
@inject IAddInventoryUseCase addInventoryUseCase
@inject NavigationManager navigationManager

<h3>Add Inventory</h3>

<EditForm Model="inventory" FormName="formAddInventory" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="inventoryName">Inventory Name</label>
        <InputText 
            id="inventoryName" 
            @bind-Value="inventory.InventoryName"
            class="form-control">
        </InputText>
        <ValidationMessage For="@(() => inventory.InventoryName)" />
    </div>

    <div class="form-group">
        <label for="quantity">Quanity</label>
        <InputNumber id="quantity"
                   @bind-Value="inventory.Quantity"
                   class="form-control">
        </InputNumber>
        <ValidationMessage For="@(() => inventory.Quantity)" />
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price"
                     @bind-Value="inventory.Price"
                     class="form-control">
        </InputNumber>
        <ValidationMessage For="@(() => inventory.Price)" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    &nbsp;
    <a href="/inventories" class="btn btn-primary">Cancel</a>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private Inventory inventory { get; set; } = new Inventory();

    private async Task Save()
    {
        await addInventoryUseCase.ExecuteAsync(inventory);
        navigationManager.NavigateTo("/inventories");
        //navigationManager.NavigateTo("/inventories");
    }
}
