@inject IDeleteInventoryUseCase deleteInventoryUseCase
@inject NavigationManager navigationManager

@if (this.Inventory is not null)
{
    <tr>
        <td>@Inventory.InventoryName</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price.ToString("c")</td>
        <td>
            <a 
            href="/editInventory/@Inventory.InventoryId"
            class="btn btn-light">
                Edit
            </a>
        </td>
        <td>
            <EditForm Model="Inventory" Enhance="true" FormName="@($"formDeleteInventory-{Inventory.InventoryId}")"
                      OnInvalidSubmit="()=>DeleteInventory(Inventory.InventoryId)">
                <button type="submit" class="btn btn-light">Delete</button>
             </EditForm>
        </td>
    </tr>
}
@code {
    [Parameter]
    public Inventory? Inventory { get; set; }

    private async Task DeleteInventory(int inventoryId)
    {
            await deleteInventoryUseCase.ExecuteAsync(inventoryId);
            navigationManager.Refresh();
    }
}
