@page "/produce"
@rendermode InteractiveServer

@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
@inject IViewProductByIdUseCase ViewProductByIdUseCase
@inject IProduceProductUseCase ProduceProductUseCase

<h3>Produce Product</h3>
<br />
<EditForm Model="produceViewModel" OnValidSubmit="Produce">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="poNumber">Production Number</label>
        <InputText id="poNumber" class="form-control" @bind-Value="produceViewModel.ProductionNumber" />
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent label="Product to Produce"
                                       SearchFunction="SearchProduct"
                                       onItemSelected="HandleItemSelected" />
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" class="form-control" @bind-Value="produceViewModel.QuantityToProduce" />
    </div>
    
    <button type="submit" class="btn btn-primary">Produce</button>
</EditForm>

@code {
    private ProduceViewModel produceViewModel = new ProduceViewModel();
    private Product? selectedProduct;


    private List<ItemViewModel>? SearchProduct(string name)
    {
        var list = ViewProductsByNameUseCase.ExecuteAsync(name).GetAwaiter().GetResult();
        if (list is null) return null;

        return list.Select(x => new ItemViewModel
        {
            Id = x.ProductId,
            Name = x.ProductName
        })?.ToList();

    }


    private async Task HandleItemSelected(ItemViewModel item)
    {
        selectedProduct = await ViewProductByIdUseCase.ExecuteAsync(item.Id);
        produceViewModel.ProductId = item.Id;
    }

    private async Task Produce()
    {
        
        await ProduceProductUseCase.ExecuteAsync(
            produceViewModel.ProductionNumber,
            selectedProduct,
            produceViewModel.QuantityToProduce,
            "Steve");

        produceViewModel = new ProduceViewModel();
        selectedProduct = null;
        
    }
}
