@page "/purchase"

@rendermode InteractiveServer

@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject IViewInventoryByIdUseCase ViewInventoryByIdUseCase
@inject IPurchaseInventoryUseCase PurchaseInventoryUseCase

<h3>Purchase Inventory</h3>
<br/>
<EditForm Model="purchaseViewModel" OnValidSubmit="Purchase">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="poNumber">Purchase Order Number</label>
        <InputText id="poNumber" class="form-control" @bind-Value="purchaseViewModel.PONumber" />
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent label="Inventory to Purchase"
                                       SearchFunction="SearchInventory"
                                       onItemSelected="HandleItemSelected" />
            </div>
            @if (purchaseViewModel.InventoryPrice > 0)
            {
                <br />
                <text>Price</text>
                @purchaseViewModel.InventoryPrice.ToString("C")
            }
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" class="form-control" @bind-Value="purchaseViewModel.QuantityToPurchase" />
    </div>
    
    <button type="submit" class="btn btn-primary">Purchase</button>
</EditForm>




@code {
    private PurchaseViewModel purchaseViewModel = new PurchaseViewModel();
    private Inventory? selectedInventory = null; 

    private List<ItemViewModel>? SearchInventory(string name)
    {
        var list = ViewInventoriesByNameUseCase.ExecuteAsync(name).GetAwaiter().GetResult();
        if (list is null ) return null;

        return list.Select(x => new ItemViewModel
        {
            Id = x.InventoryId,
            Name = x.InventoryName
        })?.ToList();

    }
    private async Task HandleItemSelected(ItemViewModel item)
    {
        purchaseViewModel.InventoryId = item.Id;
        selectedInventory = await ViewInventoryByIdUseCase.ExecuteAsync(item.Id);
        if (selectedInventory != null)
        {
            purchaseViewModel.InventoryPrice = selectedInventory.Price;
        }
    }

    private async Task Purchase()
    {
        
        await PurchaseInventoryUseCase.ExecuteAsync(
            purchaseViewModel.PONumber, 
            selectedInventory, 
            purchaseViewModel.QuantityToPurchase,
            "Steve");

        purchaseViewModel = new PurchaseViewModel();
        selectedInventory = null;
        
    }

}
