<div class="form-group">
    <label for="search">@label</label>
    <input type="text" class="form-control" 
        @bind-value="userInput" 
        @bind-value:event="oninput"
        @onkeyup="HandleKeyUp"/>
</div>

@if (searchResults != null && searchResults.Count > 0)
{
    <ul class="search-result">
        @{
            int itemIndex = 0;
            foreach (var item in searchResults)
            {
                <li @key="item.Id" 
                class="@(currentItemIndex == itemIndex ? "selected" : "")"
                @onclick="()=>HandleSelectedItem(item)">
                @item.Name
                </li>
                itemIndex++;
            }
        }
    </ul>
}

@code {
    [Parameter]
    public string label { get; set; } = string.Empty;

    [Parameter]
    public Func<string, List<ItemViewModel>>? SearchFunction { get; set; }

    private ItemViewModel? selectedItem = null;

    private string _userInput = string.Empty;
    private List<ItemViewModel>? searchResults = new List<ItemViewModel>();
    public string userInput
    {
        get => _userInput;
        set         
        {
            _userInput = value;
            if (!string.IsNullOrWhiteSpace(_userInput) &&  SearchFunction != null)
            {
                searchResults = SearchFunction(userInput);
            }

        }
    }

    private ItemViewModel? currentItem = null;
    private int currentItemIndex = -1;

    private void ClearSelectionHighlighting()
    {
        currentItemIndex = -1;
        currentItem = null;
        searchResults = null;
    }

    private void HandleSelectedItem(ItemViewModel item)
    {
        ClearSelectionHighlighting();
        selectedItem = item;
        userInput = item.Name?? string.Empty;
        searchResults = null; // Clear search results after selection
    }

    private void HandleKeyUp(KeyboardEventArgs e)
    {
        if ((e.Code == "ArrowDown" || e.Code == "ArrowUp") 
            && searchResults != null && searchResults.Count > 0)
        {
            if (e.Code == "ArrowDown" && currentItemIndex < searchResults.Count  -1)
            {
                currentItem = searchResults[++currentItemIndex];
            }
            else if (e.Code == "ArrowUp"  )
            {
                if (currentItemIndex > 0)
                {
                    currentItem = searchResults[--currentItemIndex];
                }
                else
                {
                    currentItemIndex = -1;
                    currentItem = null;
                }
            }
        }
        else if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (currentItem != null)
            {
                HandleSelectedItem(currentItem);
            }
        }
    }

    public class ItemViewModel
    {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
    }
}
