<div class="form-group">
    <label for="search">@label</label>
    <input type="text" class="form-control" 
        @bind-value="userInput" @bind-value:event="oninput"/>
</div>

@if (searchResults != null && searchResults.Count > 0)
{
    <ul class="search-result">
        @foreach (var item in searchResults)
        {
            <li @key="item.Id" @onclick="()=>HandleSelectedItem(item)">@item.Name</li>
        }
    </ul>
}

@code {
    [Parameter]
    public string label { get; set; } = string.Empty;

    [Parameter]
    public Func<string, List<ItemViewModel>>? SearchFunction { get; set; }

    private ItemViewModel? selectedItem = null;

    private string _userInput = string.Empty;
    private List<ItemViewModel>? searchResults = new List<ItemViewModel>();
    public string userInput
    {
        get => _userInput;
        set         
        {
            _userInput = value;
            if (!string.IsNullOrWhiteSpace(_userInput) &&  SearchFunction != null)
            {
                searchResults = SearchFunction(userInput);
            }
           
        }
    }

    private void HandleSelectedItem(ItemViewModel item)
    {
        selectedItem = item;
        userInput = item.Name?? string.Empty;
        searchResults = null; // Clear search results after selection
    }

    public class ItemViewModel
    {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
    }
}
